@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <p>Ulteriori informazioni su <a href="https://docs.microsoft.com/aspnet/core">creazione di web app con ASP.NET Core</a>.</p>
</div>