@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Utilizzare questa pagina per visualizzare in dettaglio l'informativa sulla privacy del sito.</p>